<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MapDemo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>63CE28A38131D49BC0E85C0B55FF98D185E9F3BD</string>
				<key>dateExpires</key>
				<string>28/01/2023</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63CE28A38131D49BC0E85C0B55FF98D185E9F3BD</string>
						<key>dateExpires</key>
						<string>28/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cluster.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C253N945M7</string>
						<key>name</key>
						<string>REAL TIME ANALYTICS COMPANY LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63CE28A38131D49BC0E85C0B55FF98D185E9F3BD</string>
						<key>dateExpires</key>
						<string>28/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FINNBottomSheet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C253N945M7</string>
						<key>name</key>
						<string>REAL TIME ANALYTICS COMPANY LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63CE28A38131D49BC0E85C0B55FF98D185E9F3BD</string>
						<key>dateExpires</key>
						<string>28/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C253N945M7</string>
						<key>name</key>
						<string>REAL TIME ANALYTICS COMPANY LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63CE28A38131D49BC0E85C0B55FF98D185E9F3BD</string>
						<key>dateExpires</key>
						<string>28/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PanModal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C253N945M7</string>
						<key>name</key>
						<string>REAL TIME ANALYTICS COMPANY LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63CE28A38131D49BC0E85C0B55FF98D185E9F3BD</string>
						<key>dateExpires</key>
						<string>28/01/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C253N945M7</string>
						<key>name</key>
						<string>REAL TIME ANALYTICS COMPANY LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>C253N945M7.mapdemo.vn.7979797979</string>
				<key>com.apple.developer.team-identifier</key>
				<string>C253N945M7</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>C253N945M7.mapdemo.vn.7979797979</string>
				</array>
			</dict>
			<key>name</key>
			<string>MapDemo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e48fd753-e1d5-4f50-a546-52d2944a1e72</string>
				<key>dateExpires</key>
				<string>28/01/2023</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>C253N945M7</string>
				<key>name</key>
				<string>REAL TIME ANALYTICS COMPANY LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
